<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Pag_zad_1</Name><AddInID>{e15907e7-a7e3-46df-b252-197d0fe69f89}</AddInID><Description>Find shortest/fastest route</Description><Version>1.0</Version><Image>Images\image.png</Image><Author>Pawe&#322; Maciej Leon</Author><Company>PML</Company><Date>12/13/2019</Date><Targets><Target name="Desktop" version="10.7" /></Targets><AddIn language="PYTHON" library="Routing_addin.py" namespace="Routing_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Select road layer" category="Pag_zad_1" class="layerselection" id="Routing_addin.layer_combobox" itemSizeString="WWWWWW" message="Select road layer" rows="4" sizeString="WWWWWW" tip="Select road layer"><Help heading="Select road layer" /></ComboBox>
        <Tool caption="Select starting point " category="Pag_zad_1" class="StartPointSelection" id="Routing_addin.startpoint_tool" image="Images\start.png" message="Select start point for routing" tip="Select start point for routing"><Help heading="Select point">Select start point for routing</Help></Tool>
        <Tool caption="Select end point " category="Pag_zad_1" class="EndPointSelection" id="Routing_addin.endpoint_tool" image="Images\meta.png" message="Select end point for routing" tip="Select end point for routing"><Help heading="Select point">Select end point for routing</Help></Tool>
        <ComboBox caption="Routing type" category="Pag_zad_1" class="routing_type" id="Routing_addin.routing_type_combobox" itemSizeString="WWWWWW" message="Select cost type" rows="4" sizeString="WWWWWW" tip="Select cost type"><Help heading="" /></ComboBox>
        <Button caption="Calculate path" category="Pag_zad_1" class="path_button" id="Routing_addin.path_button_button" image="" message="Calculate path" tip="Calculate path"><Help heading="Calculate path">Calculate path</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Path between two points" category="Pag_zad_1" id="my_routing.toolbar" showInitially="true"><Items><ComboBox refID="Routing_addin.layer_combobox" /><Tool refID="Routing_addin.startpoint_tool" /><Tool refID="Routing_addin.endpoint_tool" /><ComboBox refID="Routing_addin.routing_type_combobox" /><Button refID="Routing_addin.path_button_button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>