<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Service Area</Name><AddInID>{68d9efc9-a2a6-4a88-aaf3-d0460bd99812}</AddInID><Description>Creates service area around selected point</Description><Version>0.1</Version><Image>Images\image.png</Image><Author>Pawe&#322; Leon Maciej</Author><Company>PLM</Company><Date>12/12/2019</Date><Targets><Target name="Desktop" version="10.6" /></Targets><AddIn language="PYTHON" library="Service_area_addin.py" namespace="Service_area_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Select road layer" category="Service Area" class="layerselection" id="Service_area_addin.layer_combobox" itemSizeString="WWWWWW" message="Select road layer" rows="4" sizeString="WWWWWW" tip="Select road layer"><Help heading="" /></ComboBox>
        <Tool caption="Select start point" category="Service Area" class="startpoint" id="Service_area_addin.point_tool" image="Images\start.png" message="Select start point" tip="Select start point"><Help heading="" /></Tool>
        <ComboBox caption="Select unit" category="Service Area" class="unitselection" id="Service_area_addin.unit_ombobox" itemSizeString="WWWWWW" message="Select unit" rows="4" sizeString="WWWWWW" tip="Select unit"><Help heading="" /></ComboBox>
        <ComboBox caption="Add range" category="Service Area" class="rangecombobox" id="Service_area_addin.range_combobox" itemSizeString="WWWWWW" message="Add range" rows="4" sizeString="WWWWWW" tip="Add range"><Help heading="" /></ComboBox>
        <Button caption="Calculate service area" category="Service Area" class="calcservice" id="Service_area_addin.calculate_button" image="" message="Calculate service area" tip="Calculate service area"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Service Area" category="Service Area" id="Service_area.toolbar" showInitially="true"><Items><ComboBox refID="Service_area_addin.layer_combobox" /><Tool refID="Service_area_addin.point_tool" /><ComboBox refID="Service_area_addin.unit_ombobox" /><ComboBox refID="Service_area_addin.range_combobox" /><Button refID="Service_area_addin.calculate_button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>